#detector files
*.out

#python files
*.pyc

# mypy
.mypy_cache/

VerifierPath.py

# Visual Studio Code
.vscode

#xml files in results
results/*.xml

#log files
LogFile.txt
CPU-LogFile.txt


#Temp model
UppaalModels/tempModel1.xml
