#detector files
*.out

#python files
*.pyc

# mypy
.mypy_cache/

VerifierPath.py

# Visual Studio Code
.vscode

#output result
results/
/ExpeirmentsNetwork/TripsMainRoad.rou.xml

#xml files in results
results/*.xml
